.message{
    display: flex;
    align-items: center;
    padding: 20px;
}
.message > img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.message_info{
    margin-left: 20px;
}
.message_timestamp{
    font-weight: 400;
    font-size: 13px;
    color: gray;
}